<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>

<body>
    
    <div class="ui inverted menu">
        <div class="header item">
            <a class="item"><i class="inbox icon"></i>Blog</a>
          </div>
        <a href="/" class="red item active">
          Home
        </a>
        <a href="/blogs/new" class="red item">
         New Post
        </a>
        
      </div>
   